<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubei.base.mapper.impl.MenuMapper">
    <sql id="all_columns">
        *
    </sql>
    <sql id = "tableName">
        t_menu
    </sql>
    <sql id="queryWhere">
        <if test = "menuName != null and menuName != ''">
            AND menuName like CONCAT(CONCAT('%',#{menuName}),'%')
        </if>
        <if test = "parentId != null">
            AND parentId = #{parentId}
        </if>
        limit #{offset} , #{limit}
    </sql>

    <insert id="insert" parameterType="MenuPo">
        INSERT INTO <include refid="tableName"/>
        (
        menuName,
        parentId,
        sort,
        status,
        insertTime,
        lastUpdateTime
        )
        VALUES
        (
        #{menuName},
        #{parentId},
        #{sort},
        #{status},
        #{insertTime},
        #{lastUpdateTime}
        )
    </insert>
    <select id = "selectById" resultType="MenuPo">
        select  <include refid="all_columns"/>
        FROM <include refid="tableName"/>
        where id = #{id}
    </select>
    <select id="selectList" parameterType="MenuPo" resultType="MenuPo">
        select <include refid="all_columns"/>
        FROM <include refid="tableName"/>
        <where>
            1 = 1
            <include refid="queryWhere"/>
        </where>
    </select>
    <select id="selectCount" parameterType="MenuPo" resultType="java.lang.Integer">
        select count(1)
        FROM <include refid="tableName"/>
        <where>
            1 = 1
            <include refid="queryWhere"/>
        </where>
    </select>

    <select id="queryMenuListForContent" resultType="MenuPo">
        select id  ,parentId , menuName from t_menu where parentId   <![CDATA[ <> 0   ]]>
    </select>
</mapper>