<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubei.base.mapper.impl.MenuMapper">
    <sql id="all_columns">
        *
    </sql>
    <sql id = "tableName">
        t_menu
    </sql>
    <sql id="queryWhere">
        <if test = "menuName != null and menuName != ''">
            AND menuName like CONCAT(CONCAT('%',#{menuName}),'%')
        </if>
        <if test = "parentId != null">
            AND parentId = #{parentId}
        </if>
        limit #{offset} , #{limit}
    </sql>

    <insert id="insert" parameterType="MenuPo">
        INSERT INTO <include refid="tableName"/>
        (
        menuName,
        parentId,
        sort,
        status,
        insertTime,
        lastUpdateTime
        )
        VALUES
        (
        #{menuName},
        #{parentId},
        #{sort},
        #{status},
        #{insertTime},
        #{lastUpdateTime}
        )
    </insert>


</mapper>